<div class="head" [ngClass]="getHeadClass()">
   <div class="head-content">
    <div class="head-content-left">
        <div class="search-container">
            <div *ngIf="!canShowSearchAsOverlay" class="normal-search">
                <input type="search" 
                    class="search" name="" id=""
                    placeholder="Search..."
                >
                <i class="bi bi-search"></i>
            </div>
            <div *ngIf="canShowSearchAsOverlay">
                <button
                    [cdkMenuTriggerFor]="searchOverlay" 
                    class="search-menu-btn ripple"
                >
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="head-content-right">
        <div class="head-menu">
            <div class="head-menu-item">
                <button class="head-menu-item-btn ripple">
                    <i class="bi bi-bell-fill"></i>
                    <span class="badge">
                        20
                        <span class="visually-hidden">notifications</span>
                      </span>
                </button>
            </div>
            <div class="head-menu-item">
                <button class="head-menu-item-btn ripple">
                    <i class="bi bi-chat-left-text-fill"></i>
                    <span class="badge">
                       5
                        <span class="visually-hidden">unread messages</span>
                      </span>
                </button>
            </div>
        </div>
        <div class="head-user-avatar-container">
            <div class="head-user-avatar">
                <img src="../../assets/user.jpg" alt="User" class="user-avatar">
            </div>
            <div class="head-user-details">
                <div class="head-user-name">
                    <h4>Jackson</h4>
                </div>
                <div class="head-user-designation">
                    <h6>Admin</h6>
                </div>
            </div>
            <div class="caret">
                <i class="bi bi-caret-down-fill"></i>
            </div>
        </div>
    </div>
   </div>
</div>

<ng-template #searchOverlay>
    <div class="overlay overlay-search overlay-fall" cdkMenu>
        <input type="search" name="" id="" class="search" placeholder="Search...">
        <button class="search-btn">
            <i class="bi bi-search"></i>
        </button>
    </div>
</ng-template>