<div class="sponsor-list">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Telephone</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Sponsor of sponsors">
        <th scope="row">{{ Sponsor.id }}</th>
        <td>
          {{ Sponsor.name }}
        </td>
        <td>{{ Sponsor.email }}</td>
        <td>{{ Sponsor.telephone }}</td>
        <td>
          <button
            class="btn btn-action"
            ngbTooltip="View Sponsor"
            (click)="openSponsorDetailsModal()"
          >
            <i class="bi bi-binoculars"></i>
          </button>
          <button
            class="btn btn-action"
            ngbTooltip="Edit Sponsor"
            (click)="openEditSponsorModal()"
          >
            <i class="bi bi-pen"></i>
          </button>
          <button class="btn btn-action" ngbTooltip="Delete Sponsor">
            <i class="bi bi-trash3"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="refreshSponsors()"
      class="page-txt"
    >
    </ngb-pagination>

    <select
      class="form-select"
      style="width: auto"
      [(ngModel)]="pageSize"
      (ngModelChange)="refreshSponsors()"
    >
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>
</div>
