.student-list-container {
    margin-top: 50px;
    font-size: 0.75rem;
}

.btn {
    background-color: transparent;
    font-size: 0.75rem;
}

.action-dropdown .btn:hover {
    background-color: #F8F7F7;
}

.btn span {
    margin-left: 10px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.form-select, .page-item, .pagination, .page-link {
    font-size: 0.75rem !important;
}