<div class="link-student">
  <div class="linking-students d-flex mt-3 mb-3">
    <div class="col-md-6">
      <div class="link-dialog">
        <p>Select sponsor's name(s) from the dropdown</p>
      </div>
    </div>
    <div class="col-md-6">
      <form>
        <ng-select
          [items]="students"
          bindLabel="name"
          bindValue="name"
          [multiple]="true"
          name="students"
        ></ng-select>
        <button type="submit" class="btn btn-submit mt-3">Save</button>
      </form>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card border-0 shadow-sm">
      <div class="card-header"><h5>Linked Sponsor(s)</h5></div>
      <div class="card-body">
        <div class="linked-students d-flex justify-content-center mt-3 mb-3">
          <div class="linked-student-info d-flex align-items-end">
            <!-- <div class="col-md-6"> -->
            <img
              src="assets/users/user2.jpg"
              class="student-img"
              alt="Students Avatar"
            />
            <!-- </div> -->
            <div class="studens-info d-flex flex-column">
              <h6 class="student-name">Vanessa Egbeahie</h6>
              <p class="raltionship">Father</p>
            </div>
          </div>
        </div>
        <div class="linked-students d-flex justify-content-center mt-3 mb-3">
          <div class="linked-student-info d-flex align-items-end">
            <!-- <div class="col-md-6"> -->
            <img
              src="assets/users/user3.jpg"
              class="student-img"
              alt="Students Avatar"
            />
            <!-- </div> -->
            <div class="studens-info d-flex flex-column">
              <h6 class="student-name">Micheal Adebayo Otegbeye</h6>
              <p class="raltionship">Mother</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
