.btn-submit {
    background: var(--color-primary);
    color: white;
}

.student-img {
    width: 65px;
    height: 75px;
    border: 4px solid white;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 3px #0000003a);
    object-fit: cover;
}

.linked-student-info {
    width: 100%;
}

.studens-info {
    margin-left: 20px;
    align-self: end;
}