<div class="student-info">
<div class="row">
  <div class="pg-head">
    <h1 class="pg-title">Sponsors</h1>
    <button class="add-btn" (click)="openNewStudentModal()">
      <i class="bi bi-person-fill-add"></i>
      <span class="task-name">Add New Sponsor</span>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card card-bg mb-3 shadow border-0 shadow-sm">
      <div class="card-body">
        <div class="row">
          <app-tabs
            [tabsArray]="tabs"
            (onTabchange)="tabChange($event)"
          ></app-tabs>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div *ngIf="activatedTabIndex == 0">
              <app-sponsor-list></app-sponsor-list>
            </div>
          </div>
          <div class="col-md-12">
            <div *ngIf="activatedTabIndex == 1">
              <app-student-categories></app-student-categories>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div *ngIf="activatedTabIndex == 2">
            <p>This is Fees Panel</p>
          </div>
        </div>
        <div class="col-md-12">
          <div *ngIf="activatedTabIndex == 3">
            <p>This is Exams Panel</p>
          </div>
        </div>
        <div class="col-md-12">
          <div *ngIf="activatedTabIndex == 4">
            <p>This is Attendance Panel</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
