.pg-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.pg-title {
  font-size: 2rem;
}

.add-btn {
  background: #0977d0;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 1.1rem;
  transition: all 0.2s ease;
  border: 1px solid transparent;
}

.add-btn i {
  margin-right: 0.5rem;
}

.add-btn:hover {
  background: #fff;
  border: 1px solid #0977d0;
  color: #0977d0;
}

.card {
  background: #fff;
  margin-top: 1rem;
  /* height: 100%; */
}

.body-size {
  height: 450px;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.card-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.count {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.count-title h5 {
  font-size: 1.15rem;
}

.period {
  display: flex;
}

.period p {
  font-size: 1rem;
}

.period .positive {
  font-weight: 700;
  color: #2ee810;
  margin-right: 0.25rem;
}

.period .positive::before {
  content: "+";
}

.period .negative {
  font-weight: 700;
  color: #e8101d;
  margin-right: 0.25rem;
}

.period .negative::before {
  content: "-";
}

.period span {
  color: #7e7e7e;
}

.card-right {
  display: flex;
  align-items: center;
  font-size: 4.3rem;
  color: #0977d0;
}

.card-bg:hover {
  background: #0977d0;
}

.card-bg:hover .count,
.card-bg:hover .count-title h5,
.card-bg:hover .period span,
.card-bg:hover .card-right {
  color: #fff;
}

.fee-overview {
  display: flex;
  flex-direction: column;
}

.fee-status {
  width: 100%;
  padding-top: 10px;
}

.fee-status-title {
  display: flex;
  justify-content: space-between;
}

.event-container {
  display: flex;
  flex-direction: column;
}

.events {
  position: relative;
  padding-left: 20px;
  padding-top: 4px;
  margin-top: 0.5rem;
}

.events::before {
  content: " ";
  position: absolute;
  background: #0976d080;
  top: 0;
  left: 0;
  height: 100%;
  width: 6px;
  border-radius: 1rem;
}

.events a {
  text-decoration: none;
  /* color: red; */
}

.event-title {
  font-size: 0.8rem;
  font-weight: 600;
}

.event-date {
  font-size: 0.8rem;
}

.events:hover {
  background: #eff2f3;
}

.see-more {
  width: 110px;
  text-decoration: none;
  border: 1px solid #0977d0;
  padding: 7px 15px;
  border-radius: 0.8rem;
  align-self: end;
  color: #0977d0;
  cursor: pointer;
}


.chartBox {
        height: 100%;
        padding: 20px;
        border-radius: 20px;
        border: solid 3px rgba(54, 162, 235, 1);
        background: white;
      }

@media only screen and (max-width: 768px) {
  .body-size {
    height: 300px;
  }
}

@media only screen and (max-width: 580px) {
  .pg-head {
    flex-direction: column;
  }

  .body-size {
    height: 200px;
  }
}
