<div class="row">
  <div class="pg-head">
    <h1 class="pg-title">Dashboard</h1>
    <button class="add-btn" (click)="openModal()">
      <i class="bi bi-person-fill-add"></i>
      <span class="task-name">Add New User</span>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-bg mb-3 shadow border-0 shadow-sm">
          <div class="card-body">
            <div class="card-left">
              <h2 class="count">3,458</h2>
              <div class="count-title">
                <h5>Total Students</h5>
                <div class="period">
                  <p class="positive">0.8%</p>
                  <span>Than last month</span>
                </div>
              </div>
            </div>
            <div class="card-right">
              <i class="bi bi-people-fill"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-bg mb-3 shadow border-0 shadow-sm">
          <div class="card-body">
            <div class="card-left">
              <h2 class="count">5,100</h2>
              <div class="count-title">
                <h5>Total Parents</h5>
                <div class="period">
                  <p class="positive">2.0%</p>
                  <span>Than last month</span>
                </div>
              </div>
            </div>
            <div class="card-right">
              <i class="bi bi-person-hearts"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-bg mb-3 shadow border-0 shadow-sm">
          <div class="card-body">
            <div class="card-left">
              <h2 class="count">322</h2>
              <div class="count-title">
                <h5>Total Employee</h5>
                <div class="period">
                  <p class="negative">1.0%</p>
                  <span>Than last month</span>
                </div>
              </div>
            </div>
            <div class="card-right">
              <i class="bi bi-person-badge-fill"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-bg mb-3 shadow border-0 shadow-sm">
          <div class="card-body">
            <div class="card-left">
              <h2 class="count">500</h2>
              <div class="count-title">
                <h5>Total Teachers</h5>
                <div class="period">
                  <p class="negative">0.2%</p>
                  <span>Than last month</span>
                </div>
              </div>
            </div>
            <div class="card-right">
              <i class="bi bi-person-video3"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-3 shadow border-0 shadow-sm">
      <div class="card-header bg-white"><h5>Upcoming Events</h5></div>
      <div class="card-body event-container">
        <div class="events-at-a-glance">
          <article class="events">
            <a href="">
              <h3 class="event-title">SCHOOL FOUNDATION DAY</h3>
              <p class="event-date">Wed, Sep 06 2023</p>
            </a>
          </article>
          <article class="events">
            <a href="">
              <h3 class="event-title">SCHOOL FOUNDATION DAY</h3>
              <p class="event-date">Wed, Sep 06 2023</p>
            </a>
          </article>
          <article class="events">
            <a href="">
              <h3 class="event-title">SCHOOL FOUNDATION DAY</h3>
              <p class="event-date">Wed, Sep 06 2023</p>
            </a>
          </article>
          <article class="events">
            <a href="">
              <h3 class="event-title">SCHOOL FOUNDATION DAY</h3>
              <p class="event-date">Wed, Sep 06 2023</p>
            </a>
          </article>
        </div>
        <a class="see-more">See More</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="card mb-3 shadow border-0 shadow-sm">
      <div class="card-header bg-white">
        Fees Collection & Expenses For September 2023
      </div>
      <div class="card-body body-size">
        <canvas
          height="100"
          baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [type]="'bar'"
        >
        </canvas>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3 shadow border-0 shadow-sm">
      <div class="card-header bg-white">Income - September 2023</div>
      <div class="card-body">Chart</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="card mb-3 shadow border-0 shadow-sm">
      <div class="card-header bg-white">
        Fees Collection & Expenses For Session 2023-24
      </div>
      <div class="card-body body-size">
        <canvas
          height="100"
          baseChart
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="'line'"
        >
        </canvas>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3 shadow border-0 shadow-sm">
      <div class="card-header bg-white">Expense - September 2023</div>
      <div class="card-body">Chart</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card mb-3 shadow border-0 shadow-sm">
      <div class="card-header bg-white">Fees Overview</div>
      <div class="card-body fee-overview">
        <div class="fee-status">
          <div class="fee-status-title">
            <h6><span>300 </span>UNPAID</h6>
            <h6>30%</h6>
          </div>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 30%"
              aria-valuenow="30"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              30%
            </div>
          </div>
        </div>

        <div class="fee-status">
          <div class="fee-status-title">
            <h6><span>100 </span>PARTIAL</h6>
            <h6>10%</h6>
          </div>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 10%"
              aria-valuenow="10"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              10%
            </div>
          </div>
        </div>

        <div class="fee-status">
          <div class="fee-status-title">
            <h6><span>600 </span>PAID</h6>
            <h6>60%</h6>
          </div>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 60%"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              60%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3 shadow border-0 shadow-sm">
      <div class="card-header bg-white">Student Today Attendance</div>
      <div class="card-body fee-overview">
        <div class="fee-status">
          <div class="fee-status-title">
            <h6>PRESENT</h6>
            <h6>30%</h6>
          </div>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 30%"
              aria-valuenow="30"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              30%
            </div>
          </div>
        </div>

        <div class="fee-status">
          <div class="fee-status-title">
            <h6>LATE</h6>
            <h6>10%</h6>
          </div>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 10%"
              aria-valuenow="10"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              10%
            </div>
          </div>
        </div>

        <div class="fee-status">
          <div class="fee-status-title">
            <h6>ABSENT</h6>
            <h6>60%</h6>
          </div>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 60%"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              60%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3 shadow border-0 shadow-sm">
      <div class="card-header bg-white">Library Overview</div>
      <div class="card-body fee-overview">
        <div class="fee-status">
          <div class="fee-status-title">
            <h6><span>300 </span>DUE FOR RETURN</h6>
            <h6>30%</h6>
          </div>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 30%"
              aria-valuenow="30"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              30%
            </div>
          </div>
        </div>

        <div class="fee-status">
          <div class="fee-status-title">
            <h6><span>100 </span>RETURNED</h6>
            <h6>10%</h6>
          </div>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 10%"
              aria-valuenow="10"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              10%
            </div>
          </div>
        </div>

        <div class="fee-status">
          <div class="fee-status-title">
            <h6><span>600 </span>TOTAL BOOKS AVAILABLE</h6>
            <h6>60%</h6>
          </div>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 60%"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              60%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
