.pg-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.pg-title {
  font-size: 2rem;
}

.add-btn {
  background: #0977d0;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 1.1rem;
  transition: all 0.2s ease;
  border: 1px solid transparent;
}

.add-btn i {
  margin-right: 0.5rem;
}

.add-btn:hover {
  background: #fff;
  border: 1px solid #0977d0;
  color: #0977d0;
}