form, input, button, label, select {
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
} 

.row {
    margin-top: 20px;
}

.form-subheading {
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    background-color: #F9F9F9;
}

.btn-submit {
  background: #0977d0;
  padding: 7px 30px;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 1.1rem;
  transition: all 0.2s ease;
  border: 1px solid transparent;
}

.btn-submit:hover {
  background: #fff;
  border: 1px solid #0977d0;
  color: #0977d0;
}

.dropdown-menu select, .dropdown-menu.show {
    font-size: 0.75rem !important;
}